.header {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  width: 100%;
  height: myclamp(50px, 150px, 1920px, 1920px);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 20px;
  z-index: 100;
  pointer-events: none;
  user-select: none;
  img {
    position: relative;
  }

  .header__content {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 85%;
    max-width: 1600px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 8px;
    padding: 0px myclamp(20px, 60px, 1920px, 1920px);
    margin: 0 auto;
    @media (max-width: 1439px) {
      max-width: 1160px;
    }
    &:before {
      content: '';
      width: 900px;
      height: myclamp(110px, 266px, 1920px, 1920px);
      position: absolute;
      right: 100%;
      top: 100%;
      background: url('../img/superprise.webp') no-repeat right center;
      background-size: auto 100%;
      transform: translate(myclamp(184px, 460px, 1920px, 1920px), 0px);
      z-index: 3;
    }
  }

  @media (orientation: portrait) {
    @media (max-width: 767px) {
      background: var(--yellow);
      height: auto;
      padding-top: 10px;
      .header__content {
        min-width: 100%;
        height: auto;
        justify-content: flex-end;
        padding: 15px 20px;
        flex-wrap: wrap;
        &:before {
          transform: translate(myclamp(168px, 460px, 1920px, 1920px), -36px);
        }
      }
    }
  }
}

.logo {
  width: myclamp(98px, 278px, 1920px, 1920px);
  z-index: 2;
  @media (orientation: portrait) {
    @media (max-width: 767px) {
      order: 1;
    }
  }
}

.header__title {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: myclamp(250px, 640px, 1920px, 1920px);
  padding-top: myclamp(20px, 20px, 1920px, 1920px);
  padding-right: myclamp(60px, 90px, 1920px, 1920px);
  padding-bottom: myclamp(15px, 30px, 1920px, 1920px);
  padding-left: 0;
  align-self: flex-start;
  flex-shrink: 0;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 0px;
    top: 0px;
    background: var(--yellow);
    z-index: 0;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - myclamp(65px, 100px, 1920px, 1920px)),
      calc(100% - myclamp(65px, 100px, 1920px, 1920px)) 100%,
      0 100%
    );
  }

  @media (orientation: portrait) {
    @media (max-width: 767px) {
      padding-right: 0;
      width: 100%;
      max-width: 400px;
      order: 2;
      margin-top: -50px;
      padding-bottom: 10px;
      &:before {
        content: none;
      }
    }
  }
}

.peterochka {
  width: myclamp(44px, 100px, 1920px, 1920px);
  z-index: 2;
  @media (orientation: portrait) {
    @media (max-width: 767px) {
      order: 1;
    }
  }
}

.rules {
  position: absolute;
  left: 50%;
  transform: translate(21vw, 0%);
  font-size: myclamp(18px, 32px, 1920px, 1920px);
  text-decoration: none;
  color: #3a5689;
  color: var(--color);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: border-bottom 0.3s;
  cursor: pointer;
  z-index: 2;
  pointer-events: all;
  z-index: 100;
  @media (hover: hover) {
    &:hover {
      color: var(--color);
      border-bottom: 3px solid var(--color);
    }
  }

  @media (max-width: 666px) {
    transform: translate(0%, 0%);
    left: 10px;
    top: 4px;
    color: var(--color);
    border: none;
  }
}
