:root {
  --bold: 'pfdintextcomppro-boldital', sans-serif;
  --medium: 'pfdintextcomppro-medium', sans-serif;
  --yellow: #ffcf01;
  --color: #8a2432;
  --black: #000000;
}

@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'header';
@import 'countdown';

.title {
  font-size: 100px;
  line-height: 88px;
}

.background {
  position: absolute;
  width: calc(100% - 120px);
  height: calc(100% - 290px);
  left: 60px;
  bottom: 70px;
  background: var(--yellow) url('../img/bg.webp') no-repeat right center/cover;
}
