:root {
  --bold: 'pfdintextcomppro-boldital', sans-serif;
  --bold-normal: 'pfdintextcomppro-bold', sans-serif;
  --medium: 'pfdintextcomppro-medium', sans-serif;
  --yellow: #ffcf01;
  --color: #8a2432;
  --black: #000000;
}

@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'header';
@import 'countdown';

.title {
  font-size: myclamp(26px, 90px, 1920px, 1920px);
  line-height: 0.88;
}

.background {
  position: absolute;
  width: calc(100% - myclamp(20px, 120px, 1920px, 1920px));
  height: calc(100% - myclamp(80px, 200px, 1920px, 1920px));
  left: myclamp(10px, 60px, 1920px, 1920px);
  bottom: myclamp(10px, 50px, 1920px, 1920px);
  background: var(--yellow) url('../img/bg.webp') no-repeat right center/cover;
  pointer-events: none;

  @media (orientation: portrait) {
    background: var(--yellow) url('../img/bg-mobil.webp') no-repeat center bottom;
    background-size: 100% auto;
  }
}
